include ./includes/_mixins
include ./includes/_head
body
    .content
        form.data
            .logo
                h1 Gankei.com
            .inpt-group
                .form-misc
                    input.name(type="text", placeholder=" Summoner Name")
                    .opt
                        select.serverOpt
                            option br
                            option na
                            option eune
                            option euw
                            option kr
                            option lan
                            option las
                            option oce
                            option tr
                            option ru
                    .switch
                        input#cb5.tgl.tgl-flip(type="checkbox").mode
                        label.tgl-btn(data-tg-off="Summoner Info", data-tg-on="Active Match", for="cb5")       
                button.send(type="submit") Search 
        .container
            include ./includes/_home.jade
            include ./includes/_about.jade
            include ./includes/_contact.jade
            include ./includes/_activematch.jade
            
            .Result
                include ./includes/_basicinfo.jade


                .matchHistory
                    .matchHeader
                        h2 Match History
                    .container
                        +match
                        +match
                        +match
                        +match
                        +match
                        +match
                        +match
                        +match
                        +match
                        +match


        include ./includes/_footer.jade
        
        
        .modal
        .modalMsg
            p Error MSG
        .modalItem
            .header
                img.itemImg(src="http://ddragon.leagueoflegends.com/cdn/4.21.1/img/item/3031.png")
                p.itemName Infinity Edge
            .body
                .itemDesc +80 Attack Damage +20% Critical Strike Chance UNIQUE Passive: Critical strikes deal 250% damage instead of 200%.
                p.itemCost Cost: 3800 Gold
            