include ./includes/_head
body
    .content
        form.data
            .logo
                h1 LoL Project
            .inpt-group
                .form-misc
                    input.name(type="text", placeholder=" Summoner Name")
                    //.form-misc
                    .opt
                        select.serverOpt
                            option br
                            option na
                            option eune
                            option euw
                            option kr
                            option lan
                            option las
                            option na
                            option oce
                            option tr
                            option ru
                    .switch
                        input#cb5.tgl.tgl-flip(type="checkbox").mode
                        label.tgl-btn(data-tg-off="Active Match", data-tg-on="Info", for="cb5")       
                button.send(type="submit") Search 
        include ./includes/_home.jade
        include ./includes/_activematch.jade
        .modal
        .Result
            include ./includes/_basicinfo.jade
            
                    
            .matchHistory
                .matchHeader
                    h2 Match History
                include ./includes/_mixins
                .container
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
        

        include ./includes/_footer.jade