include ./includes/_head
body
    .content
        form.data
            .logo
                h1 LoL Project
            .inpt-group
                input.name(type="text", placeholder=" Summoner Name")
                .opt
                    select.serverOpt
                        option br
                        option na
                        option eune
                        option euw
                        option kr
                        option lan
                        option las
                        option na
                        option oce
                        option tr
                        option ru
                button.send(type="submit") Send 
        include ./includes/_home.jade
        .modal
        .Result
            include ./includes/_basicinfo.jade
            
                    
            .matchHistory
                .matchHeader
                    h2 Match History
                include ./includes/_mixins
                .container
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
                    +match
        

        include ./includes/_footer.jade