@import includes/_vars
@import includes/_base

    
body
    background: #555
    min-width: 320px
.data
    background: $white
    border-radius: 2px
    margin: 0 auto
    height: 64px
    background: #white
    padding-bottom: 5px
    width: 100%
    text-align: center
    @extend .shadow-2
    .logo
        font-size: 42px
        width: 360px
        float: left
        display: inline-block
        line-height: 69px
        text-transform: uppercase
        font-weight: 100
    .inpt-group
        width: 320px
        float: right
        height: 69px
        line-height: 70px
    label
        font-size: 14px
        padding: 5px
    .send
        display: inline-block
        width: 120px
        height: 69px
        font-size: 16px
        line-height: 24px
        //margin: 0 auto
        background: $light-green
        border: none
        //@extend .shadow-1
        //border-radius: 5px
        color: #fff
        vertical-align: middle
        padding: 0
        float: right
        &:hover
            @extend .shadow-1
    .name
        display: block
        height: 20px
        line-height: 20px
        width: 160px
        margin: 0 auto
        font-size: 14px
        border-radius: 2px
        padding-left: 10px
        //margin-right: 10px
        font-weight: bold
        border: solid 1px $dark-transp
        //vertical-align: middle
        &:focus
            outline: 0
    .opt
        display: inline-block
        vertical-align: top
        margin-right: 10px
        margin-top: -16px
   
    select
        text-transform: uppercase
        font-size: 14px
        width: 50px
        height: 24px
        overflow: hidden
        background: url(../arrow.png) no-repear right #ddd
        border: 1px solid #ccc
    .switch
        display: inline-block
        vertical-align: top
        margin-top: 8px
    .form-misc
        padding-left: 2px
        float: left
        width: 175px
        display: inline-block
        height: 60px
        padding-top: 5px
.Result
    text-align: center
    display: block
    max-width: 1080px
    //@extend .shadow-2
    //background: #03A9F4
    padding: 10px
    margin: 0 auto
    margin-top: 10px
    .basicInfo
        @extend .shadow-2
        vertical-align: top
        display: inline-block
        width: 300px
        font-size: 14px
        line-height: 30px
        box-sizing: border-box
        background: #eee 
        padding: 6px
        border-radius: 2px
        font-weight: bold
        .profileIcon
            display: inline-block
            height: 128px
            width: 128px
            .outIcon
                width: 128px
                border-radius: 2px
                @extend .shadow-1
        .profileInfo
            padding: 5px
            vertical-align: top
            box-sizing: border-box
            text-align: center
            width: 128px
            display: inline-block
            .outName
                font-weight: bold
            .outTierImg
                width: 68px
            .outTier
                font-weight: bold
        .profileRanked
            line-height: 12px
            margin: 10px 0
            margin-bottom: 0
            background: $grey-white
            @extend .shadow-1
            width: 100%
            display: inline-block
            text-align: center
            div
                //@extend .shadow-2
                border-radius: 10px
                width: 92px
                display: inline-block
                vertical-align: top
                //margin: 5px 3px
                img
                    width: 92px
                p
                    font-size: 12px
                    line-height: 20px
                h3
                    font-size: 16px
                    line-height: 20px
                    margin-bottom: -10px
    .gamesContent
        display: none
            
.matchHistory
    background: $white
    height: 760px
    padding-top: 20px
    margin-left: 10px
    @extend .shadow-2
    width: 610px
    display: inline-block
    .matchHeader
        text-transform: uppercase
        @extend .shadow-1
        height: 20px
        position: absolute
        background-color: $grey-white
        width: 610px
        margin-top: -20px
        h2
            line-height: 20px
    .container
        overflow: auto
        height: 760px
    .match
        border-radius: 2px
        margin: 3px
        margin-left: 3px
        height: 200px
        width: 590px
        overflow: hidden
        background-size: cover !important
        .header
            height: 30px
            width: 590px
            background: $dark
            text-align: left
            padding: 0px
            padding-top: 7px
            padding-left: 15px
            display: inline-block
            text-align: left
            color: #fff
            @extend .shadow-2
            .small
                text-transform: uppercase
                font-size: 10px
            .mode
                display: inline-block
                width: 30%
            .date
                display: inline-block
                width: 25%
            .duration
                display: inline-block
                width: 20%
            .gold
                display: inline-block
                width: 20%
                
        .content
            height: 170px
            display: block
            .championInfo
                width: 96px
                height: 160px
                display: block
                float: left
                margin: 6px 6px 0 6px
            .outChamp
                width: 96px
                @extend .shadow-1
                display: block
                padding-bottom: 10px
            .nameBlock
                width: 96px
                display: block
                height: 20px
                color: $grey-white
                background: #333
                font-size: 12px
                margin-top: -20px
                line-height: 20px
                opacity: 0.8
            .matchItems
                margin: 10px 5px 0 5px
                width: 136px
                border-radius: 2px
                display: block
                vertical-align: top
                float: left
                .outItem6
                    position: relative
                    top: 16px
                img
                    width: 32px
                    @extend .shadow-1
                    border-radius: 4px
                    border: solid 1px #333
                    float: left
                    margin: 0 auto
                .outDate
                    margin-left: 14px !important
            .matchInfo
                display: inline-block
                margin: 0 auto
                width: 136px
                margin: 5px 5px
                float: left
                text-align: left
                text-transform: uppercase
                box-sizing: border-box
                background: $dark-transp
                @extend .shadow-1
                .small
                    font-size: 10px
                .group
                    padding: 2px 7px
                    font-size: 14px
                    p
                        display: inline-block
                        color: $white
                .outGameType
                    font-size: 14px
                    line-height: 18px
            .outSummonerSpell1, .outSummonerSpell2
                margin: 5px
                display: inline-block
                width: 38px
                @extend .shadow-1
                border-radius: 2px
        .players
            width: 330px
            display: block
            height: 170px
            background: $dark-transp
            float: right
            .outTeamMembers, .outEnemyMembers
                padding-top: 1px
                width: 48%
                display: inline-block
            .player
                margin: 2px auto
                height: 30px
                display: block
                @extend .shadow-1
                img
                    float: left
                    display: inline-block
                    vertical-align: middle
                    width: 30px !important
                .playerInfo
                    height: 30px
                    line-height: 30px
                    overflow: hidden
                    p
                        vertical-align: middle
                        display: block
                        line-height: 30px
                        font-size: 13px
                        color: $white
                        text-align: left
                        padding-left: 5px

.footer
    @extend .shadow-2
    position: fixed
    bottom: 0
    height: 60px
    width: 100%
    background: $white
    text-align: center
    a
        text-decoration: none
        color: $dark
        padding: 20px
        display: inline-block
        text-transform: uppercase
        &:hover
            color: #000
    p
        position: fixed
        right: 10px
        bottom: 5px
        font-size: 14px
        opacity: 0.6
ins
    display: none !important
    background: $dark
    margin: 0 auto
    margin-top: 10px
    
    
.modal 
    display: none
    position: absolute
    z-index: 1000
    top: 0
    left: 0
    bottom: 0
    right: 0
    height: 100%
    width: 100%
    background: rgba( 255, 255, 255, .8 ) url(../loader.gif) 50% 50% no-repeat
        
.modalMsg
    display: none
    position: absolute
    z-index: 1000
    top: 0
    left: 0
    bottom: 0
    right: 0
    height: 60px
    width: 280px
    margin: 75px auto
    background: $dark-transp
    padding: 20px 10px
    p
        color: $white
        line-height: 20px
        font-size: 14px
        text-align: center
        
body.loading 
    overflow: hidden

body.loading .modal 
    display: block

#Home, #Active, #About, #Contact
    background: $white
    //    position: absolute
    //    top: 0
    //    bottom: 0
    //    left: 0
    //    right: 0
    //    width: 50%
    //    height: 50%
    padding-top: 20px
    border-radius: 2px
    margin: 0 auto
    margin-top: 20px
    box-sizing: border-box
    width: 95%
    max-width: 1280px
    @extend .shadow-3
    overflow: auto
    text-align: center
    h1
        font-size: 32px 
        padding: 5px 0
    h3 
        font-size:  20px
        padding-bottom: 10px
    p
        font-size: 16px
        opacity: 0.9
        vertical-align: bottom
        margin: 0 auto
    ul
        width: 40%
        margin: 0 auto
        text-align: left
        padding: 15px
        margin-bottom: 10px
        @extend .shadow-1
    li
        font-size: 16px
        padding-left: 10px
        
        
        
@import includes/_mobile
@import includes/_activematch