#About
    h1 Sobre
    p Olá! Meu nome é Murilo Bastos (murilobast), sou uma pessoa que adora desenvolver e jogar League of Legends.
    p Este site foi feito apenas por hobby e para o meu aprendizado, então, não espere um trabalho exelente hahah!
    br
    p Este site é baseado na API da Riot Games e foram utilizadas as seguintes liguagens:
    p Javascript jQuery Html5 Css3 Node.js
    br
    p Divirta-se!