#Home
    .header
        h1 Benvindo Summoner!
    .body
        p Escreva o seu nome de summoner na caixa acima, Selecione uma opção ("Historico" ou "Partida em andamento") e clique em "Enviar".
        p Este site esta em desenvolvimento e mais funcionalidades virão com o passar do tempo.
        
        br
        br
        p Se você encontrar algum bug ou tiver alguma sugestão, entre em contato no seguinte email:
            i contato@murilobast.com.