#ActiveMatch
    .header
    .summonerInfoHeader
        .icon
            img.outIcon(src='http://img3.wikia.nocookie.net/__cb20140528061130/leagueoflegends/images/5/53/ProfileIcon_Pentakill.jpg')
        .gameInfo
            p.outGameTime Time 00:00:00
            p.outServer BR Server
        .gameType
            h3.outGameType Ranked Game 5v5
    .info
        .blueTeam
            .header
                h1 Time Azul
            .inferior
            .frame
                
                +bluePlayer
                +bluePlayer
                +bluePlayer
                +bluePlayer
                +bluePlayer   




        .purpleTeam
            .header
                h1 Time Roxo
            .inferior
            .frame
                
                +purplePlayer
                +purplePlayer
                +purplePlayer
                +purplePlayer
                +purplePlayer
.modalRunes
    p.stats stats description
    p.stats stats description
    p.stats stats description
    p.stats stats description
    p.stats stats description