doctype HTML
html
    head
        title Gankei
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        meta(http-equiv="Cache-control", content="public")
        meta(http-equiv="Cache-control", content="max-age=300")
        meta(name="description", content="Gankei é uma ferramenta que exibe os seus status de Invocador e informações sobre a partida em andamento.")
        meta(name="keywords", content="gankei, gank, lol, match history, historico de jogos")
        meta(name="keywords", content="partica em andamento, active match, invocador, status do invocador")
        meta(name="author", content="murilobast")
        meta(property="og:image", content="http://www.domain.com/img/logo.png")
        link(rel="stylesheet", href="css/style.css")
        link(rel="image_src", type="image/jpeg" href="http://www.gankei.com/img/logo.png")
        link(rel="apple-touch-icon", sizes="57x57", href="img/fav/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="img/fav/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="img/fav/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="img/fav/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="img/fav/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="img/fav/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="img/fav/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="img/fav/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="img/fav/apple-icon-180x180.png")
        link(rel="icon" type="image/png", sizes="192x192",  href="img/fav/android-icon-192x192.png")
        link(rel="icon" type="image/png", sizes="32x32", href="img/fav/favicon-32x32.png")
        link(rel="icon" type="image/png", sizes="96x96", href="img/fav/favicon-96x96.png")
        link(rel="icon" type="image/png", sizes="16x16", href="img/fav/favicon-16x16.png")
        link(rel="manifest", href="img/fav/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="img/fav/ms-icon-144x144.png")
        meta(name="theme-color", content="#ffffff")
        script(src="js/jquery.js")
        script(src="js/base-dist.js")
        script(src="js/functions-dist.js")
        script(src="js/basicinfo-dist.js")
        script(src="js/activematch-dist.js")
        script(src="js/jstorage.js")