doctype HTML
html
    head
        title Gankei
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        meta(http-equiv="Cache-control", content="public")
        meta(http-equiv="Cache-control", content="max-age=300")
        meta(name="description", content="Gankei é uma ferramenta que exibe os seus status de Invocador e informações sobre a partida em andamento.")
        meta(name="keywords", content="gankei, gank, lol, match history, historico de jogos")
        meta(name="keywords", content="partica em andamento, active match, invocador, status do invocador")
        meta(name="author", content="murilobast")
        meta(property="og:image", content="http://www.domain.com/img/logo.png")
        link(rel="stylesheet", href="css/style.css")
        link(rel="image_src", type="image/jpeg" href="http://www.domain.com/img/logo.png")
        script(src="js/jquery.js")
        script(src="js/base-dist.js")
        script(src="js/functions-dist.js")
        script(src="js/basicinfo-dist.js")
        script(src="js/activematch-dist.js")
        script(src="js/jstorage.js")