#History
    .contentHeader
        h1.headTitle.outName 
        h1.headTitle.outLevel 
        h1.headTitle.outTier UNRANKED
        .headerNav
            a.btn.history.selected Histórico
            a.btn.activeMatch Partida em Andamento
        
        a.btn.share(href="#") Compartilhar
    .contentBody
        .fullBox.matchHistoryContent
            .basicInfo
                .profileIcon
                    img.outIcon(src='http://placehold.it/128x128')

                .profileRanked
                    .t5v5
                        h3 Time 5v5
                        img.outTierImg(src='../tier/unranked.png')
                        p.outTier UNRANKED
                        p.outLP
                        p.outElo
                        .left
                            p.outWins    
                        .right
                            p.outLosses
                        p.outRate
                    .solo
                        h3 Solo
                        img.outTierImg(src='../tier/unranked.png')
                        p.outTier UNRANKED
                        p.outLP
                        p.outElo
                        .left
                            p.outWins    
                        .right
                            p.outLosses
                        p.outRate
                    .t3v3
                        h3 Time 3v3
                        img.outTierImg(src='../tier/unranked.png')
                        p.outTier UNRANKED
                        p.outLP
                        p.outElo
                        .left
                            p.outWins    
                        .right
                            p.outLosses
                        p.outRate
            .matchHistory
                +match
                +match
                +match
                +match
                +match
                +match
                +match
                +match
                +match
                +match
        include activematch
    .contentFooter
        .footerInfo 
            p gankei.com by murilobast
 .modalItem
        .header
            img.itemImg(src="http://ddragon.leagueoflegends.com/cdn/4.21.1/img/item/3031.png")
            p.itemName Infinity Edge
        .body
            .itemDesc +80 Attack Damage +20% Critical Strike Chance UNIQUE Passive: Critical strikes deal 250% damage instead of 200%.
            p.itemCost Cost: 3800 Gold