// Mach History Base
mixin modalRunes
    .modalRunes
        

mixin player
    a.playerLink(href='#')
        .player
            img.outChampTeam(src='')
            .playerInfo
                p.outName 

mixin bluePlayer
    .player
        .champ
            img.outChampImg(src='')
        .spells
            img.outSpell1(src='')
            img.outSpell2(src='')
        .summonerInfo
            p.outBluePlayer Blue Player
            p.outMastery Página de Talentos
            p.outRunePage Página de Runa
            +modalRunes
        .stats
            p Média por partida
            p.outK 
            p.outA 
        .outRankedStats
            img.outTierImg(src='')
            p.outTier 
            p.outRankedWins 32/27
            p.outNormalWins 

mixin purplePlayer
    .player
        .champ
            img.outChampImg(src='')
        .spells
            img.outSpell1(src='')
            img.outSpell2(src='')
        .summonerInfo
            p.outPurplePlayer Purple Player
            p.outMastery Página de Talentos
            p.outRunePage Página de Runa
            +modalRunes
        .stats
            p Média por partida
            p.outK 
            p.outA 
        .outRankedStats
            img.outTierImg(src='')
            p.outTier 
            p.outRankedWins 32/27
            p.outNormalWins 


mixin match
    .match
        .header
            .mode
                p.small Modo
                p.outGameType 
                
            .date
                p.small Quando
                p.outDate 
                
            .duration
                p.small Duração
                p.outDuration 
                
            .gold
                p.small Gold
                p.outGold 
                

        .contentMatch
            .championInfo
                img.outChamp
                .nameBlock
                    p.outChampionName 
                img.outSummonerSpell1
                img.outSummonerSpell2

            .matchItems
                img.outItem0(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem1(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem2(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem6(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem3(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem4(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem5(src='http://cdn.replays.io/resources/img/item/0.png')
            .players
                .outTeamMembers
                    +player
                    +player
                    +player
                    +player
                    +player
                .outEnemyMembers
                    +player
                    +player
                    +player
                    +player
                    +player     
            .matchInfo
                .group
                    p.outK 
                    p.small Abates
                .group
                    p.outD 
                    p.small Mortes
                .group
                    p.outA 
                    p.small Assistencias
                .group
                    p.outCreeps 
                    p.small Minions