.modalShare
    .modalHeader
        h3 Compartilhe o seu histórico
        p.close Fechar
    .modalBody
        p Utilize o link abaixo para compartilhar:
        input(type="text").shareLink
        p O sistema de compartilhamento por redes sociais ainda esta em construção, portanto, utilize o link por enquanto.