.modalShare
    .modalHeader
        h3 Compartilhe o seu histórico
    .modalBody
        p Utilize o link abaixo para compartilhar:
        input(type="text").shareLink
        p Ou compartilhe pelo Twitter ou Facebook utilizando os botões abaixo.
    .modalFooter
        a.btn.twitter(href="https://twitter.com/intent/tweet?url=URL&text=http://gankei.com", onclick="window.open('https://twitter.com/intent/tweet?url=URL&text=http://gankei.com', 'newwindow', 'width=600, height=280'); return false;") Twitter
        a.btn.facebook(href="https://www.facebook.com/sharer/sharer.php?u=http://gankei.com", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://gankei.com', 'newwindow', 'width=600, height=420'); return false;") Facebook
        a.btn.close Fechar
.modal
