#About
    h1 About Us
    p Hello! My name is Murilo Bastos (murilobast) a brazilian guy who loves Development and League of Legends.
    p This website was made just for fun and study purposes, so, don't expect an excelent work hahah!
    br
    p This is a Riot Games API based website and I used the following languages to build this website:
    p Javascript jQuery Html5 Css3 Node.js
    br
    p Enjoy!