#Active
    .blueTeam
        h1 Blue team
        +bluePlayer
        +bluePlayer
        +bluePlayer
        +bluePlayer
        +bluePlayer   
        
        
        
        
    .purpleTeam
        h1 Purple team
        +purplePlayer
        +purplePlayer
        +purplePlayer
        +purplePlayer
        +purplePlayer
        