.basicInfo
    .profileIcon
        img.outIcon(src='http://placehold.it/128x128')
    .profileInfo
        p.outName Champion
        p.outLevel Level 30

    .profileRanked
        .t3v3
            h3 Team 3v3
            img.outTierImg(src='tier/unranked.png')
            p.outTier UNRANKED
            p.outLP 0 LP
            p.outElo 0 Points
        .solo
            h3 Solo 5v5
            img.outTierImg(src='tier/unranked.png')
            p.outTier UNRANKED
            p.outLP 0 LP
            p.outElo 0 Points
        .t5v5
            h3 Team 5v5
            img.outTierImg(src='tier/unranked.png')
            p.outTier UNRANKED
            p.outLP 0 LP
            p.outElo 0 Points
//    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
//    // SiteLOL 
//    ins(class="adsbygoogle", style="display:inline-block;width:280px;height:250px", data-ad-client="ca-pub-9211196233969408", data-ad-slot="4659942514")
//    script.
//        (adsbygoogle = window.adsbygoogle || []).push({});