doctype HTML
head
    title Gankei - LoL
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    script(src="jquery.js")
    script(src="base.js")
    script(src="activematch.js")
    script(src="basicinfo.js")
    script(src="functions.js")