doctype HTML
head
    title LoL Project
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    script(src="jquery.js")
    script(src="base.js")
    script(src="code.js")
    script(src="functions.js")