#Home
    .header
        h1 Welcome Summoner! This is a Riot API based Website.
    .body
        //        h3 We are currently under development and more features are coming soon...
        //        img(src="tier/GOLD_I.png")
        p Type your Summoner Name in the box above and press "Search".
        img.logoImg(src="logo.png")
