#Home
    .header
        h1 Welcome Summoner!
    .body
        p Type your Summoner Name in the box above, select an option ("Summoner Info" or "Active Match") and press "Search".
        p This website is currently under development and more features will come.
        
        br
        br
        p If you find any bug or have a sugestion, feel free to contact me at 
            i contato@murilobast.com.
        p Only english language is avaible (except for item information).