// Mach History Base
mixin player
    .player
        img.outChampTeam(src='http://placehold.it/30x30')
        .playerInfo
            p.outName Summoner Name

mixin bluePlayer
    .player
        .champ
            img.outChampImg(src='http://ddragon.leagueoflegends.com/cdn/5.3.1/img/champion/Vayne.png')
        .spells
            img.outSpell1(src='spell/4.png')
            img.outSpell2(src='spell/11.png')
        .name
            p.outBluePlayer Blue Player

mixin purplePlayer
    .player
        .champ
            img.outChampImg(src='http://ddragon.leagueoflegends.com/cdn/5.3.1/img/champion/Vayne.png')
        .spells
            img.outSpell1(src='spell/4.png')
            img.outSpell2(src='spell/11.png')
        .name
            p.outPurplePlayer Purple Player
            


mixin match
    .match
        .header
            .mode
                p.small Mode
                p.outGameType NORMAL 5v5
                
            .date
                p.small When
                p.outDate 00 MINS AGO
                
            .duration
                p.small Duration
                p.outDuration 35min
                
            .gold
                p.small Gold
                p.outGold 0k GOLD
                

        .content
            .championInfo
                img.outChamp(src='http://placehold.it/72x72')
                .nameBlock
                    p.outChampionName Champion Name
                img.outSummonerSpell1(src="http://placehold.it/38x38")
                img.outSummonerSpell2(src="http://placehold.it/38x38")

            .matchItems
                img.outItem0(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem1(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem2(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem6(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem3(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem4(src='http://cdn.replays.io/resources/img/item/0.png')
                img.outItem5(src='http://cdn.replays.io/resources/img/item/0.png')
            .players
                .outTeamMembers
                    +player
                    +player
                    +player
                    +player
                    +player
                .outEnemyMembers
                    +player
                    +player
                    +player
                    +player
                    +player     
            .matchInfo
                .group
                    p.outK 00 
                    p.small Kills
                .group
                    p.outD 00 
                    p.small Deaths
                .group
                    p.outA 00
                    p.small Assists
                .group
                    p.outCreeps 200
                    p.small Creeps